
.eat {
    position: relative;
    flex-direction: column;
    display: flex; 
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
 }

 .poo {
    position: relative;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
 }

 .sleep {
    position: relative;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
 }

 .container{
     display: flex;
 }

 .container > div {
     margin: 20px;
     padding: 20px;
 }

 .mainImage {
     position: relative;
     float: right;
     display:flex;
     margin-left: auto;
     height: 15%;
     width: 15%;
     

 }

 .jumbotron {
     display:flex;
     background-color: aquamarine;
 }

 .summary {
     display: block;
     
 }

 .display-4 {
     display:block;
 }

 .containerforJumbo {
     display:block;
 }

 .newSleep {
     margin: auto;
 }

 .sleepButtons {
     margin:auto;
     margin-bottom: 40px;
  
 }