
.eat {
    position: relative;
    flex-direction: column;
    display: flex; 
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
    width: 33%
 }

 .nappy {
    position: relative;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
    width: 33%
 }

 .sleep {
    position: relative;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25em;
    width: 33%
 }

 .container{
     display: flex;
 }

 .container > div {
     margin: 20px;
     padding: 20px;
 }

 .mainImage {
     position: relative;
     float: right;
     display:flex;
     margin-left: auto;
     height: 15%;
     width: 15%;
 }

 .jumbotron {
     display:flex;
     background-color: aquamarine;
 }

 .summary {
     display: block;
 }

 .display-4 {
     display:block;
 }

 .containerforJumbo {
     display:block;
 }

 .newSleep {
     margin: auto;
 }

 .sleepButtons {
     margin:auto;
     margin-bottom: 30px;
     margin-top: 28px;
  
 }

 .timer {
     font-family: 'Orbitron', sans-serif;
     font-size: 40px;
     margin: auto;
     margin-top: 20px;
     background-color: #F9EEEC;
     min-width: 200px;
     text-align: center;

 }

 .submit button{
     width: 100%;
     margin-bottom: 40px
 }

 .nappyNew button{
     width: 30%;
     margin-top: 20px;
     margin-left: 5px;
     margin-bottom: 20px;
 }

 .nappyNew {
     text-align: center;
     
 }

 .eat {
     width: 33%
 }
 
 .newEat h3 {
     text-align: center;
 }

.submitEat {
    text-align: center;
    margin-bottom: 20px;
}

.btn-secondary{
    height: 25px;
    text-align: center;
    border-radius: 50%;
}



.close-container{
  margin-left: 220px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  
}

.leftright{
  height: 4px;
  width: 15px;
  position: absolute;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 15px;
  position: absolute;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label{
  color: white;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
.close-container:hover label{
  opacity: 1;
}

